* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  background-color: #ffffff;
  color: #24292f;
  line-height: 1.5;
}

.Tab{
    background-color: #24292f;
    color: #a7a7a7;
    display: flex;
    padding: 12px 24px;
}

.Tab p {
    font-size: large;
    margin-left: 35px;
}

.main{
    display: block;
    justify-content: center;
    align-items: center;
}

.main-h2{
    margin-left: 26.6%;
    margin-top: 10%;
    font-size: 2.2rem;
    font-weight: 400;
}

.searchDiv{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 6px;
}

.search{
    flex:1;
    padding: 10px;
    outline: none;
    font-size: 0.85rem;
    height: 30px;
    width: 500px;   
}

.addBtn{
    background-color: rgb(0, 113, 227);
    color: #ffffff;
    border-color: rgb(0, 113, 227);
    border-radius: 3px;
    height: 30px;
    width: 40px;
    border:none;
}

.container {
    width: 600px;
    margin: 20px auto;
}

.add-box {
    display: flex;
    margin-bottom: 35px;
}

.add-box input {
    flex:1;
    padding: 10px;
    outline: none;
    font-size: 0.85rem;
    height: 35px;
    width: 500px; 
    border: 1px solid #a7a7a7;
    border-radius: 3px;
    margin-right: 10px;
}

.add-box button {
    background-color: rgb(2, 97, 186);
    color: #ffffff;
    border-color: rgb(0, 113, 227);
    border-radius: 3px;
    height: 35px;
    width: 50px;
    border:none;
    margin-left: 20px;
}

.list {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    overflow: hidden;
    margin-left: -10%;
}

.item {
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
}

.item:last-child {
    border-bottom: none;
}

.item input[type="checkbox"] {
    margin-right: 40px;
    transform: scale(1.2);
    accent-color: rgba(21, 0, 255, 0.527);
}

.countContainer span {
    color: #888;
}

.text {
    flex: 1;
    font-size: 16px;
    color: #333;
}

.edit {
    flex: 1;
    font-size: 16px;
    color: #333;
}

.item.done .text {
    text-decoration: line-through;
    color: #888;
}

.delete {
    color: red;
    cursor: pointer;
    font-size: 18px;
}
