* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background: white;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 130px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  max-width: 500px;
}

.logo {
margin-bottom: 10px;
}

.logo img {
width: 300px;
height: auto;
}

.subtitle {
  font-size: 25px;
  color: black;
  line-height: 1.3;
}

.card {
  width: 400px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,.1), 0 8px 15px rgba(0,0,0,.1);
  text-align: center;
}

.card input {
  width: 100%;
  padding: 14px 16px;
  margin-bottom: 12px;
  font-size: 17px;
  border: 1px solid gainsboro;
  border-radius: 6px;
}

.login-btn {
  width: 100%;
  padding: 14px;
  background: blue;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  background: lightblue;
}

.forgot {
  display: block;
  margin: 14px 0;
  font-size: 14px;
  color: blue;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}

.divider {
  height: 1px;
  background: gray;
  margin: 20px 0;
}

.create-btn {
  background: goldenrod;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 14px 16px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.create-btn:hover {
  background: goldenrod;
}

.page-link {
  text-align: center;
  margin-top: 28px;
  font-size: 14px;
}

.page-link a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.page-link a:hover {
  text-decoration: underline;
}
